/* mask 动画 */
.drawer-enter.drawer-mask {
  opacity: 0;
}
.drawer-enter-active.drawer-mask {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.drawer-exit.drawer-mask {
  opacity: 1;
}
.drawer-exit-active.drawer-mask {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* 内容动画 */
.drawer-enter .drawer-box {
  opacity: 0;
  transform: translateX(-100%);
}
.drawer-enter-active .drawer-box {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease-in;
}
.drawer-exit .drawer-box {
  opacity: 1;
  transform: translateX(0%);
}
.drawer-exit-active .drawer-box {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
}

/* 移动端左侧菜单 */
.menu-enter.mask {
  opacity: 0;
}

.menu-enter-active.mask {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.menu-exit.mask {
  opacity: 1;
}
.menu-exit-active.mask {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.menu-enter .w-32 {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-enter-active .w-32 {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease-in;
}

/* top组件 */
.top-enter-active {
  transform: translateY(0);
  animation: rubberBandIn 0.8s linear;
}

.top-exit-active {
  transform: translateY(100px);
  animation: rubberBandOut 0.8s linear;
}

@keyframes rubberBandIn {
  from {
    transform: scale3d(1, 1, 1) translateY(100px);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes rubberBandOut {
  from {
    transform: scale3d(1, 1, 1) translateY(0);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1) translateY(100px);
  }
}

/* 笔记加载 */
.noteActive {
  transition: all 0.3s linear;
  transform: rotate(360deg);
}

.link-box:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.shadow-round:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.store-item {
  transition: all 0.3s linear;
}

.store-item:hover {
  height: 8rem !important;
  margin-top: 2rem;
  animation: shine 1.5s infinite 0.3s;
}

@keyframes shine {
  30% {
    box-shadow: 0 0 0px 0px rgba(24, 144, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(24, 144, 255, 0);
  }
}

.part-title-item {
  transform: translateX(-6rem);
  background: linear-gradient(90deg, rgba(24, 144, 255, 0) 0, #1890ff);
}

.part-box:hover > .part-title-item {
  animation: toRight 2s infinite ease-in-out;
}

@keyframes toRight {
  0% {
    transform: translateX(-6rem);
  }
  100% {
    transform: translateX(1200px);
  }
}

.right .new-box {
  opacity: 0;
  transform: translateY(50px);
}

.right .new-box:nth-child(1) {
  animation: newBoxIn 0.3s linear forwards;
}
.right .new-box:nth-child(2) {
  animation: newBoxIn 0.3s linear forwards 0.2s;
}
.right .new-box:nth-child(3) {
  animation: newBoxIn 0.3s linear forwards 0.4s;
}
.right .new-box:nth-child(4) {
  animation: newBoxIn 0.3s linear forwards 0.6s;
}
.right .new-box:nth-child(5) {
  animation: newBoxIn 0.3s linear forwards 0.8s;
}

@keyframes newBoxIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.boxIn {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s linear;
}

.boxInActive {
  opacity: 1;
  transform: translateY(0);
}

.store-mask {
  opacity: 0;
  width: 100%;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transition: all 0.3s linear 0.3s;
}

.store-item:hover .store-mask {
  opacity: 1;
  background: linear-gradient(0deg, #2b6cb0, rgba(0, 0, 0, 0));
}

.light-move:hover {
  background: linear-gradient(-70deg,#cbd5e0 25%,#fff 37%,#cbd5e0 63%);
  background-size: 400%;
  background-position: 100% 0%;
  animation: gradient 1s linear forwards;
}

@keyframes gradient {
  100% {
    background-position: 0% 100%;
  }
}


.loading{
  width: 80px;
  height: 40px;
  margin: 0 auto;
  margin-top:100px;
}
.loading span{
  display: inline-block;
  width: 8px;
  height: 100%;
  margin-right: 3px;
  border-radius: 4px;
  background: #cbd5e0;
  animation: load 1s ease infinite;
}
@keyframes load{
  0%,100%{
      height: 40px;
      background: #cbd5e0;
  }
  50%{
      height: 60px;
      margin-top: -20px;
      background: #cbd5e0;
  }
}
.loading span:nth-child(2){
  animation-delay:0.13s;
}
.loading span:nth-child(3){
  animation-delay:0.26s;
}
.loading span:nth-child(4){
  animation-delay:0.39s;
}
.loading span:nth-child(5){
  animation-delay:0.52s;
}